* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: #f0f2f4;
    padding         : 0;
    margin          : 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color          : #FFFFFF;
}

a.site_btn,
.payment_btn {
    border          : 1px solid #d9d9d9;
    font-size       : 16px;
    font-weight     : 400;
    line-height     : 23px;
    text-align      : center;
    letter-spacing  : 1px;
    transition      : all 0.3s linear;
    color           : #000;
    padding         : 3px 22px;
    text-transform  : uppercase;
    text-decoration : none;
    background-color: #d9d9d9;
    display         : inline-block;
}

a.site_btn:hover,
.payment_btn:hover {
    color           : #000;
    background-color: transparent;
}

section,
footer {
    width  : 100%;
    padding: 50px 0;
}

/* footer {
    overflow: auto;
    width   : 100%;
} */

.breadcrump_section {
    background-color: #3c10ba;
    padding         : 60px 0 30px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-direction  : column;
    color           : #ffffff;
}

.breadcrump_section ul {
    display        : flex;
    align-items    : center;
    justify-content: center;
    list-style     : none;
    padding-left   : 0;
}

.breadcrump_section ul li a {
    color          : #ffffff;
    text-decoration: none;
    margin         : 0 10px;
}

.breadcrump_section ul li {
    color: #ffffff;
}

.address_box {
    display        : flex;
    justify-content: space-between;
    width          : 100%;
    border         : 1px solid #ccc;
    padding        : 10px 20px;
    align-items    : end;
    border-radius  : 5px;
    margin-top     : 20px;
}

.address_box p {
    margin: 0;
    width : 90%;
    color : #383636;
}

.billing_details h4 {
    font-size       : 19px;
    background-color: #e9e9e9;
    padding         : 10px;
    border-radius   : 5px;
    margin-top      : 45px;
}

.billing_details {
    width: 85%;
}

.customer_details {
    width: 100%;
}

.cstmr_dtl>a.addnewbtn {
    display        : grid;
    place-content  : end;
    margin-top     : 15px;
    cursor         : pointer;
    color          : #0d6efd;
    text-decoration: none;
}

.cstmr_dtl {
    width: 80%;
}

a.accordian-toggle {
    text-decoration: none;
    color          : black;
    margin-left    : 26px;

}

.billing_details ul {
    list-style  : none;
    padding-left: 14px;
}


.form {
    visibility: hidden;
    opacity   : 0;
    height    : 0;
}

.form.visible {
    visibility: visible;
    opacity   : 1;
    height    : auto;
    padding   : 20px 26px;
}



.billing_details ul li a input.accordion-radio {
    margin-right: 10px;
}

.billing_details ul li {
    margin: 15px 0;
}

a.accordian-toggle:hover {
    color: black;
}

.card_num label {
    display  : block;
    font-size: 13px;
}

.card_details label {
    display      : block;
    margin-top   : 25px;
    margin-bottom: 7px;
    font-size    : 13px;
}

.card_num input {
    width     : 50%;
    margin-top: 7px;
    border    : 1px solid #ccc;
    padding   : 0 5px;
}

.card_details select {
    border   : 1px solid #ccc;
    color    : #4b4b4b;
    padding  : 2px 7px;
    font-size: 14px;
}

.card_details {
    display    : flex;
    align-items: end;
}

.card_details div {
    margin-right: 20px;
    width       : 32%;
}

input.form-control:focus {
    box-shadow: none;
    border    : 1px solid #222;
}

.card_details div:nth-child(2) {
    width: 26%;
}

.card_details input {
    width  : 115px;
    padding: 0 5px;
    border : 1px solid #ccc;
}

button.payment_btn {
    height          : 29px;
    border-radius   : 5px;
    background-color: #272626;
    color           : #fff;
    font-size       : 15px;
    margin-top      : 30px;
}

button.payment_btn:hover {
    border: 1px solid #272626;
}

div.error-message {
    font-size: 12px;
    color    : red;
    position : absolute;
}

.your_order>ul>li .img_div {
    width: 28%;
}

.your_order>ul>li .product_content {
    width      : 68%;
    margin-left: 4%;
}

.your_order>ul>li img {
    width : 100%;
    border: 1px solid #ccc;
}

.your_order ul {
    list-style  : none;
    padding-left: 0px;
}

.your_order>ul>li {
    display    : flex;
    align-items: center;
    margin-top : 25px;
}

.product_content>ul {
    display  : flex;
    flex-wrap: wrap;
    width    : 43%;
}

.product_content>ul>li {
    width: 50%;
}

.product_content span {
    color    : #94064a;
    display  : block;
    font-size: 15px;
}

.product_content a {
    display        : block;
    font-size      : 15px;
    text-decoration: none;
}

.other_charges {
    border          : 1px solid #ccc;
    padding         : 10px;
    background-color: #eeeeee;
    margin-top      : 45px;
    width           : 80%;
}

.other_charges>ul {
    display   : flex;
    flex-wrap : wrap;
    margin    : 0;
    list-style: none;
}

.other_charges>ul>li {
    width: 50%;
}

.total_payment {
    border          : 1px solid #ccc;
    width           : 80%;
    background-color: #ffffff;
    padding         : 10px;
    margin-top      : 25px;
}

.total_payment ul {
    display        : flex;
    margin         : 0;
    justify-content: space-between;
}




/* Modal PopUp Css */
.modal-dialog {
    max-width: 64% !important;
}

.adress_setting {
    border          : 1px solid #ccc;
    padding         : 10px;
    border-radius   : 5px;
    background-color: #faf8f8;
    margin-bottom   : 25px;
}

.modal-body {
    padding: 2rem !important;
}

.adress_setting form label {
    margin-right: 22px;
}

.modal-body button.set-address-btn,
form.add_address_form .site_btn {
    color           : #fff;
    background-color: #222222;
    border          : 1px solid #222222;
    padding         : 5px 15px;
    border-radius   : 5px;
    transition      : all 0.3s ease;
}

.modal-body button.set-address-btn:hover,
form.add_address_form .site_btn:hover {
    background-color: transparent;
    color           : #222222;
}

form.add_address_form .site_btn {
    margin-left: 8px;
}

form.add_address_form {
    margin-top : 45px;
    border-top : 1px solid #222;
    padding-top: 45px;
}

form.add_address_form .form_innerdiv>div {
    width : 31%;
    margin: 0 8px 16px;
}

.form_innerdiv {
    display  : flex;
    flex-wrap: wrap;
}

.accordian-toggle {
    position: relative;
}

.accordian-toggle::before {
    position        : absolute;
    content         : "";
    width           : 12px;
    height          : 12px;
    border-radius   : 100%;
    background-color: #c3c3c3;
    left            : -26px;
    top             : 6px;
}

.accordian-toggle.active::after {
    position        : absolute;
    content         : "";
    width           : 6px;
    height          : 6px;
    border-radius   : 100%;
    background-color: #454242;
    left            : -23px;
    top             : 9px;
}

.adress_setting input {
    position  : relative;
    visibility: hidden;
}

.adress_setting input::before {
    position        : absolute;
    content         : "";
    width           : 12px;
    height          : 12px;
    border          : 1px solid #d9dce1;
    border-radius   : 100%;
    background-color: #d9dce1;
    left            : 0px;
    top             : 0px;
    visibility      : visible;
}

.adress_setting input:checked::after {
    position        : absolute;
    content         : "";
    width           : 12px;
    height          : 12px;
    border-radius   : 100%;
    background-color: #0d6efd;
    left            : 0px;
    top             : 0px;
    visibility      : visible;
}